<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="com.bonitasoft.rental.ui.prefs.RentalColorPreferencePage"
            id="com.bonitasoft.rental.ui.pageColor"
            name="Colors">
      </page>
   </extension>


</plugin>
